<section id="about-me" class="container-fluid animated bg-white mt-sm-4 mt-md-0 mb-md-5 p-sm-5 p-md-5">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <span class="sub_heading_title" style="color: #3d3ab2;">Introduction</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <span class="heading_title" style="color: #3d3ab2;">About me</span>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
            <p class="about_me_paragh mb-0">Full stack developer with 2+ years experience in web application layers and databases utilizing a range of technologies & frameworks, 
                including Laravel and Angular. developed and maintained 3 dashboards for advanced  technical usage which help increase the productivity of the admin.
                Seeking to leverage development experience and hands-on technical expertise in a challenging role as a Full-stack Developer.</p>
        </div>
    </div>
</section>
