.about_me_paragh{
    width: 90%;
    font-size: clamp(1rem, 1.2rem, 1.2rem);
    color: #4a5582;
    // sm
    @media (min-width: 320px) {
        column-count: 1;
        text-align: center;
    }
    // md
    @media (min-width: 768px) {
        column-count: 2;
        text-align: start;
    }
    /* column-width: 10rem; */
    line-height: 2em;
}

#about-me{
    // sm
    @media (min-width: 320px) {
        margin-top: 24px;
        padding: 24px;
    }
}