#experience-section{
    // sm
    @media (min-width: 320px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    // md
    @media (min-width: 768px) {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

.hire-bar{
    background-color: #ffffff;
    box-shadow: 0px 10px 100px 0px rgb(37 46 89 / 6%);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px 20px 20px 20px;
    border-radius: 150px 150px 150px 150px;

    // sm
    @media (min-width: 320px) {
        width: 100%;
    }
    // md
    @media (min-width: 1000px) {
        width: 75%;
    }
}

.p-btn{
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.1px;
    fill: #3d3ab2;
    color: #3d3ab2;
    background-color: rgba(0,0,0,0);
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #3d3ab2;
    border-radius: 150px 150px 150px 150px;
    
    // sm
    @media (min-width: 320px) {
        padding: 8px 15px 8px 15px;
    }
    @media (min-width: 320px) {
        padding: 10px 25px 10px 25px;
    }
    @media (min-width: 540px) {
        padding: 12px 35px 12px 35px;
    }
    // md
    /* @media (min-width: 780px) {
        padding: 14px 40px 14px 40px;
    } */
    @media (min-width: 1200px) {
        padding: 15px 50px 15px 50px;
    }
}

.p-btn:hover{
    color: #ffffff;
    background-color: #3d3ab2;
}

.experience_logo{
    color: white;
    width: 50px;
    height: 50px;
    padding: 5px;
    font-size: 1rem;
    border: 6px solid;
    border-color: white;
    border-radius: 50%;
    border-width: 6px;
    text-decoration: none;

    @media (min-width: 320px) {
        width: 40px;
        height: 40px;
    }
}

.experience_logo_container{
    @media (min-width: 320px) {
        flex: 0 0 auto;
        width: 10%;
    }
}

.experience_desc_container{
    //sm
    @media (min-width: 320px) {
        padding-bottom: 30px;
        flex: 0 0 auto;
        width: 90%;
    }
    // md
    @media (min-width: 768px) {
        padding-bottom: 60px;
    }
}

.experience_desc{
    padding: 10px 30px 30px 30px;
    box-shadow: 0px 30px 200px 0px rgb(37 46 89 / 5%);
    text-align: left;

    border-radius: 5px 5px 5px 5px;
    position: relative;
}

.experience_desc::before{
    content: "";
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid white;
}

.experience_desc .element_date{
    color: #6865cd;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2em;
    letter-spacing: 0.1px;
}

.experience_desc .element_title{
    color: #383e61;
    text-align: left;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 1em;
    letter-spacing: 0.1px;
}

.experience_desc .element_details{
    color: #939bc1;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.1px;
    padding: 1em 0;
    margin: 0;
}

.experience_container::after{
    content: "";
    display: table;
    clear: both;
}

.experience_col::after{
    content: "";
    display: table;
    clear: both; 

    //sm
    @media (min-width: 320px) {
        padding: 0px;
    }
    // md
    @media (min-width: 768px) {
        padding: 15px;
    }   
}

.experience_col{
    @media (min-width: 320px) {
        margin-top: 60px;
    }
}

/* timeline */

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

/* Timeline holder */
.timeline {
    list-style-type: none;
    position: relative;
}

 /* Timeline vertical line */
.timeline:before {
    content: ' ';
    background: rgba(255,255,255,0.2);
    display: inline-block;
    position: absolute;
    width: 5px;
    height: 100%;
    z-index: -1;
    border-radius: 1rem;
    
    //sm
    @media (min-width: 320px) {
        left: 10px;
    }
    @media (min-width: 420px) {
        left: 20px;
    }
    @media (min-width: 540px) {
        left: 30px;
    }
    @media (min-width: 620px) {
        left: 36px;
    }
    // md
    @media (min-width: 768px) {
        left: 13px;
    }
    @media (min-width: 1000px) {
        left: 36px;
    }
    @media (min-width: 1020px) {
        left: 28px;
    }
    @media (min-width: 1100px) {
        left: 36px;
    }
}