<app-header></app-header>
<section id="contact-section" class="container-fluid p-0 p-sm-5 mt-5 d-flex justify-content-center align-items-center">
    <!-- <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12"> -->
            <div class="contact_container p-4 p-sm-5 bg-white text-center">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                        <span class="sub_heading_title" style="color: #3d3ab2; font-size: clamp(1rem, 1rem, 1rem);">GET IN TOUCH</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                        <span class="heading_title" style="color: #3d3ab2; font-weight: bold; font-size: clamp(1rem, 1.5rem, 1.8rem);">CONTACT me</span>
                    </div>
                </div>
                <form [formGroup]="contactForm" >
                    <div class="row mt-4">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <input type="text" class="form-control form_input w-100" placeholder="Full Name" formControlName="name">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <input type="text" class="form-control form_input w-100" placeholder="Project Name" formControlName="project">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <input type="email" class="form-control form_input w-100" placeholder="Email" formControlName="_replyto">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <textarea class="form-control form_input w-100" rows="5" placeholder="Message" formControlName="message"></textarea>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <button class="btn p-btn rounded-pill">Send message</button>
                        </div>
                    </div>
                </form>
            </div>
        <!-- </div>
    </div> -->
</section>
