<app-header></app-header>
<section id="contact-section" class="container-fluid animated-container p-0 p-sm-5 mt-5">
    <div class="row animated fadeInUp">
        <div class="col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center align-items-center w-100">
            <span class="heading_title" style="color: #ffffff; font-weight: bold; font-size: clamp(1rem, 1.5rem, 1.8rem);">CONTACT me</span>
        </div>
    </div>
    <div class="row animated fadeInUp">
        <div class="col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center align-items-center w-100">
            <span class="sub_heading_title text-center" style="color: #ffffff; text-transform: none; font-size: clamp(1rem, 1.2rem, 1.5rem);">Feel Free To Contact Me Any Time</span>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-5 w-100">
        <div class="row contact_container mt-lg-5">
            <div class="col-sm-12 col-md-12 col-lg-5 mt-5 mt-lg-0 animated fadeInLeft position-relative order-last order-lg-1">
                <div class="contact-svg-container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12" style="z-index: -1;">
                            <img src="assets/images/Get in touch-rafiki.svg" width="100%" height="100%">
                        </div>
                    </div>
                    <div class="row" style="background-color: #f2f2f2; border-radius: 30px;">
                        <div class="col-sm-12 col-md-12 col-lg-12 p-2 d-flex align-items-center justify-content-center">
                            <a class="contact-link d-flex align-items-center justify-content-center mx-3" style="background-color: #d93025;" href=""> <i class="fas fa-at"></i> </a>
                            <a class="contact-link d-flex align-items-center justify-content-center mx-3" style="background-color: #0077b5;" href=""> <i class="fab fa-linkedin"></i> </a>
                            <a class="contact-link d-flex align-items-center justify-content-center mx-3" style="background-color: #211F1F;" href=""> <i class="fab fa-github"></i> </a>
                            <a class="contact-link d-flex align-items-center justify-content-center mx-3" style="background-color: #037F04;" href=""> <i class="fas fa-phone-alt"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-7 animated fadeInRight order-first order-lg-2">
                <div class=" p-4 p-sm-5 bg-white text-center">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                            <span class="sub_heading_title" style="color: #3d3ab2; font-size: clamp(1rem, 1rem, 1rem);">GET IN TOUCH</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                            <span class="heading_title" style="color: #3d3ab2; font-weight: bold; font-size: clamp(1rem, 1.6rem, 1.8rem);">CONTACT</span>
                        </div>
                    </div>
                    <form [formGroup]="contactForm" (ngSubmit)="sendMessage(btnSM)">
                        <div class="row mt-4">
                            <div class="col-sm-12 col-md-12 col-lg-12 text-start">
                                <input type="text" pInputText class="form-control form_input w-100" placeholder="Full Name" formControlName="name">
                                <small *ngIf="contactForm.controls.name.invalid && contactForm.controls.name.touched  && contactForm.controls.name.errors['required'];" class="text-danger">The full name field is required.</small>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-12 col-md-12 col-lg-12 text-start">
                                <input type="email" pInputText class="form-control form_input w-100" placeholder="Your Email" formControlName="_replyto">
                                <small *ngIf="contactForm.controls._replyto.invalid && contactForm.controls._replyto.touched && contactForm.controls._replyto.errors['required'];" class="text-danger">The email field is required.</small>
                                <small *ngIf="contactForm.controls._replyto.invalid && contactForm.controls._replyto.touched && contactForm.controls._replyto.dirty && contactForm.controls._replyto.errors['email'];" class="text-danger">The email format is invalid.</small>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-12 col-md-12 col-lg-12 text-start">
                                <input type="text" pInputText class="form-control form_input w-100" placeholder="Subject" formControlName="subject">
                                <small *ngIf="contactForm.controls.subject.invalid && contactForm.controls.subject.touched  && contactForm.controls.subject.errors['required'];" class="text-danger">The subject field is required.</small>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-12 col-md-12 col-lg-12 text-start">
                                <textarea class="form-control form_input w-100" pInputTextarea rows="5" placeholder="Message" formControlName="message"></textarea>
                                <small *ngIf="contactForm.controls.message.invalid && contactForm.controls.message.touched  && contactForm.controls.message.errors['required'];" class="text-danger">The message field is required.</small>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <!-- <button class="btn p-btn rounded-pill" #btnSM> <span> <app-loader-checkmark [complete]="false"></app-loader-checkmark></span></button> -->
                                <button class="btn p-btn rounded-pill" #btnSM>{{btnSM.disabled? "" : "Send message"}} <app-loader-checkmark *ngIf="btnSM.disabled" [complete]="complete"></app-loader-checkmark></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<p-toast key="KeyContact" position="bottom-right" [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
