@media (min-width: 320px) {
    .contact_container{
        width: 100%;
    }
}

@media (min-width: 768px) {
    .contact_container{
        width: 75%;
    }
}

@media (min-width: 1000px) {
    .contact_container{
        width: 80%;
    }

    .contact-svg-container{
        position: absolute;
        bottom: -50px; 
        right: -55px;
    }
}

.form_input{
    background-color: rgba(61, 58, 178, 0.15);
    /* border: 1px solid rgba(61, 58, 178, 0.15); */
    border-radius: 0;
}

.form_input::placeholder{
    color: rgba(7, 30, 72, 0.3);
}

.p-btn{
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3em;
    letter-spacing: 0.1px;
    color: #ffffff;
    background-color: #3d3ab2;
}

.p-btn:hover{
    background-color: #35329a;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }