<section id="contact-me" class="container-fluid animated p-md-5">
    <div class="row mt-5">
        <div class="col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center align-items-center">
            <div class="contact-me-div p-4 bg-white rounded text-center">
                <h2 class="title" style="color: #383e61;">HAVE ANY PROJECT IN MIND?</h2>
                <br>
                <button class="btn p-btn rounded-pill">Contact With Me</button>
            </div>
        </div>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Right-aligned menu
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="#">Menu item</a></li>
          <li><a class="dropdown-item" href="#">Menu item</a></li>
          <li><a class="dropdown-item" href="#">Menu item</a></li>
        </ul>
      </div>
</section>
