<div class="row links-bar-container">
    <div class="col-sm-12 col-md-12 col-lg-12 p-2 d-flex align-items-center justify-content-center">
        <a class="contact-link d-flex align-items-center justify-content-center mx-3" style="background-color: #d93025;" href=""> <i class="fas fa-at"></i> </a>
        <a class="contact-link d-flex align-items-center justify-content-center mx-3" style="background-color: #0077b5;" href=""> <i class="fab fa-linkedin"></i> </a>
        <a class="contact-link d-flex align-items-center justify-content-center mx-3" style="background-color: #211F1F;" href=""> <i class="fab fa-github"></i> </a>
        <a *ngIf="display" class="contact-link d-flex align-items-center justify-content-center mx-3" style="background-color: #037F04;" href=""> <i class="fas fa-phone-alt"></i> </a>
    </div>
</div>