<section id="personal-projects" class="container-fluid animated bg-white p-sm-5 p-md-5">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <span class="sub_heading_title" style="color: #3d3ab2;">My works</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <span class="heading_title" style="color: #3d3ab2;">Personal projects</span>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="project-container">
                <div class="pt-4 px-4">
                    <img src="assets/images/p1.png" alt="1st project" width="100%" height="100%">
                </div>
                <div class="p-2 w-100" style="background-color: #fcfcfc;">
                    <div class="row">
                        <div class="col-sm-10 col-md-10 col-lg-10">
                            <span class="project-title">Dashbord</span>
                            <!-- <p class="project-desc">Description of the project</p> -->
                        </div>
                        <div class="col-sm-1 col-md-1 col-lg-1 ps-0 text-center" style="color: #afb23a; font-size: 16px; cursor: pointer;">
                            <i class="fas fa-external-link-alt"></i>
                        </div>
                        <div class="col-sm-1 col-md-1 col-lg-1 ps-0 text-center"  style="color: #afb23a; font-size: 16px; cursor: pointer;">
                            <i class="fas fa-code"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="project-container">
                <div class="pt-4 px-4">
                    <img src="assets/images/p1.png" alt="1st project" width="100%" height="100%">
                </div>
                <div class="p-2 w-100" style="background-color: #fcfcfc;">
                    <div class="row">
                        <div class="col-sm-10 col-md-10 col-lg-10">
                            <span class="project-title">Dashbord</span>
                            <!-- <p class="project-desc">Description of the project</p> -->
                        </div>
                        <div class="col-sm-1 col-md-1 col-lg-1 ps-0 text-center" style="color: #afb23a; font-size: 16px; cursor: pointer;">
                            <i class="fas fa-external-link-alt"></i>
                        </div>
                        <div class="col-sm-1 col-md-1 col-lg-1 ps-0 text-center"  style="color: #afb23a; font-size: 16px; cursor: pointer;">
                            <i class="fas fa-code"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="project-container">
                <div class="pt-4 px-4">
                    <img src="assets/images/p1.png" alt="1st project" width="100%" height="100%">
                </div>
                <div class="p-2 w-100" style="background-color: #fcfcfc;">
                    <div class="row">
                        <div class="col-sm-10 col-md-10 col-lg-10">
                            <span class="project-title">Dashbord</span>
                            <!-- <p class="project-desc">Description of the project</p> -->
                        </div>
                        <div class="col-sm-1 col-md-1 col-lg-1 ps-0 text-center" style="color: #afb23a; font-size: 16px; cursor: pointer;">
                            <i class="fas fa-external-link-alt"></i>
                        </div>
                        <div class="col-sm-1 col-md-1 col-lg-1 ps-0 text-center"  style="color: #afb23a; font-size: 16px; cursor: pointer;">
                            <i class="fas fa-code"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
