<section class="container-fluid animated-container">
    <div class="row h-100 pt-5">
        <div class="col-sm-12 col-md-6 col-lg-6 animated fadeInLeft mb-4 d-flex justify-content-md-start justify-content-sm-center align-items-center align-items-sm-center align-items-lg-end align-items-xl-end align-items-xxl-center"  style="max-height: 90vh;">
            <div>
                <div class="mb-4 text-center text-md-start">
                    <span class="sub_heading_title">Hello, I'm Ines Hadjadji</span>
                </div>
                <div class="mb-4 text-center text-md-start">
                    <span class="heading_title">Full stack web developer</span>
                </div>
                <div class="mb-4 text-center text-md-start">
                    <span style="font-size: 20px; color: #ffffff;">Welcome to my Profolio Website</span>
                </div>
                <div class="text-center text-md-start">
                    <button class="btn p-btn">Hire Me</button>
                    <button class="btn d-btn m-3">Get CV</button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 animated fadeInRight" style="max-height: auto;">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
                    <img src="../assets/images/photo-profil.jpg" alt="photo-profil" width="100%" height="650">
                </div>
            </div>
            <div class="row" style="background-color: #f2f2f2;">
                <div class="col-sm-12 col-md-12 col-lg-12 p-2 d-flex align-items-center justify-content-center">
                    <a class="contact-link d-flex align-items-center justify-content-center mx-2" style="background-color: #d93025;" href=""> <i class="fas fa-at"></i> </a>
                    <a class="contact-link d-flex align-items-center justify-content-center mx-2" style="background-color: #0077b5;" href=""> <i class="fab fa-linkedin"></i> </a>
                    <a class="contact-link d-flex align-items-center justify-content-center mx-2" style="background-color: #211F1F;" href=""> <i class="fab fa-github"></i> </a>
                </div>
            </div>
        </div>
    </div>
</section>