 .animated {
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
} 

:host ::ng-deep .links-bar-container{
    border-radius: 0 !important;
}

.text_align{
    // md
    @media (min-width: 768px) {
        text-align: start !important;
    }
}
